*:focus {
  outline: none;
}

.header {
}

.header__container {
  max-width: 76.25rem;
  padding: 0.625rem 1rem;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__navigation {
  display: flex;
  justify-content: center;
  gap: 1.6875rem;
}

.header__links-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.875rem;
}

.link {
  text-decoration: none;
  cursor: pointer;
}

.button {
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 0.25rem;
  height: 2.5rem;

  display: flex;
  align-items: center;
  justify-content: center;

  font-family: "Kumbh Sans", sans-serif;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 600;

  text-decoration: none;
  cursor: pointer;
}

.header__link {
  color: #4a556c;
  font-family: "Kumbh Sans", sans-serif;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 400;
}

.header__link:hover {
  color: #364158;
}

.button-green {
  background-color: #20ad96;
  color: #ffffff;
}

.button-green:hover {
  background-color: #0c9982;
}
