body {
  height: 100%;
  margin: 0;
  padding: 0;
}

*:focus {
  outline: none;
}

header {
  width: 100vw;
  height: 3.75em;
}

header > div {
  height: 100%;
  max-width: 76.25em;
  margin: auto;
  display: flex;
  align-content: center;
  justify-content: space-between;
}

.header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__navigation {
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: initial;
  grid-gap: 1.6875em;
}

.navigation__links {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-gap: 1.875em;
}

.navigation-link {
  color: var(--gray-800, #4a556c);
  font-family: "Kumbh Sans", sans-serif;
  font-size: 0.9375em;
  font-style: normal;
  font-weight: 400;

  text-decoration: none;
}

.navigation-link:hover {
  color: #364158;
  cursor: pointer;
}

.green-button {
  background-color: #20ad96;
  padding-left: 1em;
  padding-right: 1em;
  border-radius: 0.25em;
  height: 2.5em;

  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: auto;
  margin-bottom: auto;

  font-family: "Kumbh Sans", sans-serif;
  font-size: 0.875em;
  font-style: normal;
  font-weight: 600;
  color: #ffffff;

  text-decoration: none;
}

.green-button:hover {
  background-color: #0c9982;
  cursor: pointer;
}
