*:focus {
  outline: none;
}

img {
  height: auto;
  max-width: 100%;
}

.header {
  background-color: white;

  position: fixed;
  left: 0px;
  right: 0px;
}

.container {
  max-width: 76.25rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.header__container {
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__navigation {
  display: flex;
  justify-content: center;
  gap: 1.6875rem;
  background-color: white;
}

.header__links-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.875rem;
}

.link {
  text-decoration: none;
  cursor: pointer;
}

.button-simle {
  margin: 0;
  padding: 0;

  border: none;
  appearance: none;
  background-color: inherit;

  display: flex;
  align-items: center;
  justify-content: center;

  font-family: "Kumbh Sans", sans-serif;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 600;

  text-decoration: none;
  cursor: pointer;
}

.button {
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 0.25rem;
  height: 2.5rem;

  border: none;
  appearance: none;
  background-color: inherit;

  display: flex;
  align-items: center;
  justify-content: center;

  font-family: "Kumbh Sans", sans-serif;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 600;

  text-decoration: none;
  cursor: pointer;
}

.header__link {
  color: #4a556c;
  font-family: "Kumbh Sans", sans-serif;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 400;
}

.header__link:hover {
  color: #20ad96;
}

.button-green {
  background-color: #20ad96;
  color: #ffffff;
}

.button-green:hover {
  background-color: #0c9982;
}

.header__menu-button {
  width: 2.5rem;
  height: 2.5rem;
}

.header__menu-button img {
  width: 2.5rem;
  height: 2.5rem;
}

.menu {
  position: relative;
}

main {
  padding-top: 3.75rem; /*To indent the header*/
}

.rosy-block {
  background-color: #faf8f6;

  display: flex;
  align-items: center;
  justify-content: center;
}

.header-stack {
  padding-top: 5.75rem;
  padding-bottom: 5.75rem;
  display: flex;
  align-items: center;
}
.header-stack > * {
  flex: 1;
}

.header-stack__left-side {
  margin-right: 5.563rem;
}

.header-stack__right-side {
  margin-left: 5.75rem;
}

.subtitle {
  color: #4a556c80;
  font-family: "Kumbh Sans", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
  margin-bottom: 0.375rem;
}

h1 {
  color: #333461;
  font-family: "Kumbh Sans", sans-serif;
  font-size: 4.5rem;
  font-style: normal;
  font-weight: 800;
  line-height: 120%; /* 86.4px */
  letter-spacing: -0.045rem;
  margin: 0;
}

h2 {
  color: #333461;
  font-family: "Kumbh Sans", sans-serif;
  font-size: 3rem;
  font-style: normal;
  font-weight: 800;
  line-height: 3.5rem; /* 116.667% */
  letter-spacing: -0.03rem;
  margin: 0;
}

.description {
  color: #4a556c;
  font-family: "Kumbh Sans", sans-serif;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  margin-top: 1.875rem;
}

.particular-areas {
  margin: auto;
}

.particular-areas__header {
  text-align: center;
  margin-top: 6.5rem;
  margin-bottom: 4.75rem;
}

.particular-areas__blocks-container {
  display: flex;
  gap: 1.25rem;
  flex-wrap: wrap;
  justify-content: center;
}

.particular-areas__block {
  padding: 3.5rem 4.6875rem;
  border: 0.0625rem solid #edeff5;
  width: 18.75rem;
}

.particular-areas__block-title {
  color: #041434;
  font-family: "Kumbh Sans", sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2rem; /* 133.333% */
  letter-spacing: -0.045rem;
  margin: 2rem 0 1rem 0;
}

.green-color {
  color: #20ad96;
}

.particular-areas__block-description {
  color: #4a556c;
  font-family: "Kumbh Sans", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem; /* 150% */
  letter-spacing: -0.02rem;
  margin: 0;
}

.particular-areas__block:first-child {
  position: relative;
}

.particular-areas__block-pointinghand {
  position: absolute;
  right: 0;
  bottom: -1.875rem;
}

@media only screen and (max-width: 576px) {
  h1 {
    font-size: 3.5rem;
  }

  h2 {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 899px) {
  .header {
  }

  .header__navigation {
    display: none;
  }

  .header__navigation {
    justify-content: start;
    flex-direction: column;
    align-items: flex-end;

    padding: 2rem;

    text-align: right;

    position: fixed;

    left: 0px;
    right: 0px;
    height: 100%;

    background-color: #faf8f6;
  }

  .header__links-container {
    justify-content: top;
    flex-direction: column;
    align-items: flex-end;
  }

  /* ------------------------ */

  #menu__toggle {
    opacity: 0;
    position: fixed;
    cursor: pointer;
  }
  #menu__toggle:checked + .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked + .menu__btn > span::before {
    top: 0;
    transform: rotate(0deg);
  }
  #menu__toggle:checked + .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .header__navigation {
    display: flex;
  }

  .menu__btn {
    display: flex;
    width: 1.625rem;
    height: 2.5rem;
    cursor: pointer;
    z-index: 1;
  }
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 0.188rem;
    background-color: #364158;
    transition-duration: 0.25s;
    border-radius: 0.063rem;
  }

  .menu__btn > span {
    top: 1.188rem;
  }
  .menu__btn > span::before {
    content: "";
    top: -0.563rem;
  }
  .menu__btn > span::after {
    content: "";
    top: 0.563rem;
  }
}

@media only screen and (max-width: 1200px) {
  .header-stack {
    flex-direction: column;
  }

  .header-stack__left-side {
    margin-right: 0;
  }

  .header-stack__right-side {
    margin-left: 0;
    margin-top: 5.75rem;
  }
}

@media only screen and (min-width: 900px) {
  #menu__toggle {
    display: none;
  }
  .menu__btn {
    display: none;
  }
}

@media only screen and (min-width: 988px) {
  .particular-areas__block:nth-child(2) {
    margin-top: 3.75rem;
    margin-bottom: -3.75rem;
  }

  .particular-areas__block:nth-child(4) {
    margin-top: 3.75rem;
    margin-bottom: -3.75rem;
  }
}
